# rpc 监听端口
SERVER_PORT=19585

# 数据库 url
DATA_SOURCE_URL=jdbc:postgresql://localhost:5432/your-data-base

# 数据库用户名
DB_USERNAME=postgres

# 数据库密码
DB_PASSWORD=wangweilong0

# 矿工收益地址
WDC_MINER_COINBASE=WX1DL55mQ6HsfXrnaCak9TdAHxdMYLNxdg3

# 是否开启挖矿
ENABLE_MINING=true

# 验证者节点配置文件
VALIDATORS='local/test-validators.json'

# 是否清除所有区块数据
CLEAR_DATA=false

