#spring.main.allow-bean-definition-override=true
server.port=19585
spring.datasource.url=jdbc:postgresql://localhost:5432/postgres
#spring.datasource.password=replica
#spring.datasource.username=replica

spring.datasource.type=org.apache.commons.dbcp2.BasicDataSource
#spring.datasource.dbcp2.max-wait-millis=10000
#spring.datasource.dbcp2.min-idle=5
#spring.datasource.dbcp2.initial-size=5
