HOST=192.168.1.52
PORT=19585

# 金额 单位是 wdc
AMOUNT=100
# 私钥
PRIVATE_KEY=
# to 填写地址
TO=1JWhUiZCWps56uZckAvzxy2ex6VGhrMXdD

PAYLOAD=d8081e165d6f67ad73c51e9f2c62ec9d19d0d3b7947762d61ea1827744d3770d

# 类型可以是枚举字符串，也可以是数值
TYPE=VOTE # 例如         COINBASE, TRANSFER, VOTE,
                       DEPOSIT, TRANSFER_MULTISIG_MULTISIG, TRANSFER_MULTISIG_NORMAL,
                       TRANSFER_NORMAL_MULTISIG, ASSET_DEFINE, ATOMIC_EXCHANGE,
                       INCUBATE, EXTRACT_INTEREST, EXTRACT_SHARING_PROFIT,
                       EXTRACT_COST, EXIT_VOTE, MORTGAGE, EXIT_MORTGAGE


# 一次性发多少个事务 nonce 依次递增
TIMES=3